ul
{
    padding:0%;
    width: 1200px;
    margin: 20px auto;

}

li
{
    display: inline;
}

.tn
{
    margin: 6px;
    border: 4px solid #eee;
    box-shadow: rgb(116, 73, 54) 1px 1px 8px 1px;
    border-radius: 4%;
    width: 500px;
    
}

.btn
{
    background-color: rgb(116, 73, 54);
    border-color: #eee;
    width: 100px;
    padding: 10px;
    margin: 4px;
    position: relative;
    left: 10px;
    color: #e7e7e7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.btn:active
{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15);
    transform: translateY(2px); 
    border: none; 
}

.btn:focus 
{
    outline: none;
    box-shadow: 0 0 0 2px rgb(116, 73, 54);
    background-color: bisque;
    color: rgb(116, 73, 54);
    font-size: 20px;
}

.btn {
    transition: all 0.1s;
  }


@media (max-width: 500px) {
    button {
      width: 100%;
    }
  }