<!-- <div class="row">
    <div class="col-md-12">
        <div 
            [ngStyle]="{'background-image' : 'url('+ image.url +')'}" 
            class="img-container">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 caption-row">
        <span id="caption">{{image.caption}}</span>
    </div>
</div> -->
    
<!-- <div class="image-container" 
    [ngStyle]="{backgroundImage: 'url('+ image.url + ')'}">
</div>

<div class="image-caption">
    {{image.caption}}
</div> -->


<figure class="figure">

    <img [src]="image.url" 
        class="figure-img img-fluid rounded" 
        [alt]="image.caption"
        style="border: 4px solid #eee; 
                box-shadow: rgb(116, 73, 54) 1px 1px 8px 1px; 
                border-radius: 4% !important">
  
    <figcaption class="figure-caption" 
        style="color: rgb(116, 73, 54); width: 450px;">
      {{image.caption}}
    </figcaption>
  
  </figure>

